.Contacto {
  background-color: #FFFFFF;
  
  width: 100%;
  background-repeat: no-repeat;
  height: fit-content;
  font-weight: 300;
 
  
}




.iconoCon{
  height: 30px;
  width: 28px;
  
}

.textoCont{
  font-size: 24px;

}


.formuButton{
    width: 130px;
    font-size:22px;
    border: 1px solid #D45F35;
    border-radius: 10px;
    color: #D45F35;
    background-color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 50px;
  }
  
.formuButton:hover {
    background-color: rgba(241, 176, 161, 0.1);
}
  
.formuButtonComollegar{
    width: auto;
    height: 54px;
    border: 1px solid #D45F35;
    border-radius: 10px;
    color: #D45F35;
    background-color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
  }

.Formulario{
  margin-top: 6%;
}

  
@media (max-width: 480px) {

  .CajaForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0% !important;
  }

  

  #ubicacion {
    margin-top: 0 !important;
  }

  #whatsapp {
    margin-top: 8px !important;
  }

  #textoWhats{
    margin-bottom: 0% !important;
  }

  .formuButton{
    margin-left: 0% !important;
    margin-bottom: 4% !important;
    margin-top:  2% !important;
  }
 
  .Formulario{
    margin-top: 1% !important;
  }

  .cajaComoLlegar{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  #obCont{
      max-height: 250px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    
    line-height: 130%;
    text-align: "center";
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.textoIcono{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0 !important;
  font-family: 'League Spartan';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 30px;
/* or 136% */
display: flex;
align-items: center;
text-align: center;

}

.iconoCon{
  height: 23.73px;
  width: 23.73px;
  padding: 16px;
}


  
}

