.Habitaciones{
    background-image: url('public/habitaciones_patron.svg');
    background-size: cover; /* Asegura que el SVG cubra todo el espacio disponible */
    background-position: center; /* Centra el SVG en el contenedor */
    width: 100%;
    height: 960px;
    position: relative;
}



.custom-shape-divider-bottom-1710877318 .shape-fill2 {
    fill: #FCF9F5;
}
@media (max-width: 480px) {
    .Menu {
      display: none !important; 
}

.Habitaciones{

    height: 128%;
    
}

    .ImagenHabitacion{
      max-width: 374px !important;
      max-height: 338px;
      margin-top: 0 !important;
    }

 
    
    .ImagenContainer{
        margin-right: 0% !important;
    }

    .cajaCompleta {
        flex-direction: column;
    }

    .MenuMovil{
    margin-top: 18px !important;
    margin-right: 48px !important;
 }
  }

 
  @media (min-width: 481px) {
 .MenuMovil{
    display: none !important;
    
 }

 .ImagenContainer {
    width: 70% !important;
 }

}


@media (max-width: 480px) {
 


    #desHab{
        max-height: 250px;
      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 300;
      font-size: 30px; /* Tamaño predeterminado */
      line-height: 130%;
      text-align: "center";
      display: flex;
      align-items: center ;
      text-align: center;
  
      color: #000000;
  }
  
  
    
  }
