.Habitaciones{
    background-image: url('.././images/habitaciones_patron.svg');
    background-size: cover; 
    background-position: center; 
    width: 100%;
    position: relative;
}

.TitulosCentradosMovile{
    display:none
}

.ImagenHabitacion{
    cursor: pointer;
}

.custom-shape-divider-bottom-1710877318 .shape-fill2 {
    fill: #FCF9F5;
}

/*Media Query para celulares normales*/
@media (min-width:361px) and (max-width: 599px) {
.Menu {
      display: none !important; 
}
.TitulosCentradosMovile{
    display:inline;
    font-size: 1.25rem !important;
    margin-bottom: 10% !important;
}
.Habitaciones{
    height: 135%;  

}

.TitulosCentrados{
    font-size: 2rem;
}
.Incluye{
    width: 90% ;
    margin: auto !important;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100px;
    display: flex;
   font-size: 1rem !important;
}
.ImagenHabitacion{
      margin-top: 0 ;
}
.cajaCompleta {
        flex-direction: column;
}
.MenuMovil{
    margin-top: 50px ;
    margin-right: 48px ;
}
#desHab{
max-height: 250px;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  width: 90%;
  font-size: 1.25rem; /* Tama単o predeterminado */
  line-height: 130%;
  text-align: "center";
  display: flex;
  align-items: center ;
  text-align: center;
  color: #000000;
}
.ImagenContainer{
    padding: 12.5px;
}
.ImagenContainer #secundaria1,
.ImagenContainer #secundaria2{
    margin-top: -5px;
}
}

@media (min-width:321px) and (max-width:360px){
    .Menu {
        display: none !important; 
  }
  .TitulosCentradosMovile{
      display:inline;
      font-size: 1.25rem !important;
      margin-bottom: 10% !important;
  }
  .Habitaciones{
      height: 130%;  
  
  }
  
  .TitulosCentrados{
      font-size: 2rem;
      margin-top: 10%;
  }
  .Incluye{
      width: 90% ;
      margin: auto !important;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100px;
      display: flex;
     font-size: 1rem !important;
  }
  .ImagenHabitacion{
        margin-top: 0 ;
  }
  .cajaCompleta {
          flex-direction: column;
  }
  .MenuMovil{
      margin-top: 50px ;
      margin-right: 48px ;
  }
  #desHab{
  max-height: 250px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    width: 90%;
    font-size: 1.25rem; /* Tama単o predeterminado */
    line-height: 130%;
    text-align: "center";
    display: flex;
    align-items: center ;
    text-align: center;
    color: #000000;
  }
  .ImagenContainer{
      padding: 12.5px;
  }
  .ImagenContainer #secundaria1,
  .ImagenContainer #secundaria2{
      margin-top: -5px;
  }
}
 
@media  (max-width: 320px) {
    .Menu {
          display: none !important ; 
    }
    .TitulosCentradosMovile{
        display:inline;
        font-size: 1.5rem !important;
    }
    .TitulosCentrados{
        font-size: 1.5rem;
        margin-top: 10%;
    }
    .Habitaciones{
        height: 150%;  
        height: 185vh; 
    }
    .Incluye{
        width: 100% ;
        text-align: center;
        font-size: 1rem !important ;
        justify-content: center;
        align-items: center;
        height: 100px;
        display: flex;
       
    }
    .ImagenHabitacion{
          margin-top: 0 ;
    }
    .cajaCompleta {
            flex-direction: column;
    }
    .MenuMovil{
        margin-top: 50px ;
        margin-right: 48px ;
    }
    #desHab{
    max-height: 250px;
      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 300;
      font-size: 1.25rem; /* Tama単o predeterminado */
      line-height: 130%;
      text-align: "center";
      display: flex;
      align-items: center ;
      text-align: center;
      color: #000000;
    }
    .ImagenContainer{
        padding: 12.5px;
    }
    .ImagenContainer #secundaria1,
    .ImagenContainer #secundaria2{
        margin-top: -5px;
    }
}

@media (min-width:600px) and (max-width:1023px){
    .Menu {
        display: none !important;
    }
    .Habitaciones{
        height: 115vh;
    }
  .TitulosCentradosMovile{
      display:inline;
      font-size: 2rem !important;
  }
  .TitulosCentrados{
    font-size: 2.5rem;
    margin-top: 5%;
  }
  .Incluye{
      width: 100% ;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 100px;
      display: flex;
     
  }
  .cajaCompleta {
          flex-direction: column;
          margin-top: -10%;
  }

  .descCentrada{
    width: 90%;
    text-align: center;
    font-size: 1.625rem !important;
    line-height: 130%;
 }
  #desHab{
  max-height: 250px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem; /* Tama単o predeterminado */
    line-height: 130%;
    text-align: "center";
    display: flex;
    align-items: center ;
    text-align: center;
    color: #000000;
  }
  .ImagenContainer{
    margin-top: 80% !important;
    padding: 12.5px;
}
.ImagenContainer #secundaria1,
.ImagenContainer #secundaria2{
    margin-top: -5px;
}
}
 
  @media (min-width: 1024px) and (max-width:1280px) {
 .MenuMovil{
    display: none !important ;
 }
 .Menu{
    padding-left: 12.5% !important;
 }
 .descCentrada{
    width: 60%;
    margin-top: 5%;
    text-align: center;
    font-size: 1.625rem;
    line-height: 130%;
 }
 .TitulosCentrados{
    margin-top: 5%;
    font-size: 2.5rem;
 }
 .ImagenContainer {
    width: 100%;
 }
 .Habitaciones{
    height: 140vh;
 }
 .Incluye{
    font-size: 1.25rem !important;
 }
}

@media (min-width: 1281px) {
    .MenuMovil{
       display: none !important ;
    }
   .TitulosCentrados{
    font-size: 2.5rem;
    margin-top: 2.5%;
   }
    .descCentrada{
       width: 60%;
       text-align: center;
       font-size: 1.625rem;
       line-height: 130% !important;
    }
    .ImagenContainer {
       width: 100%;
    }
    .Habitaciones{
       height: 110vh;
    }
   }


