.Instalaciones{
    background-color: #FCF9F5;
    width: 100%;
     height: 880px;
     min-height: 80px !important;
    position:relative;
    display: flex;
    flex-direction: column;
    margin:"auto"
    
}

.crsl {
    width: auto;
    margin:auto;
    text-align: center;
    
    
   
}

.legend {
  background-color: #6E5356 !important;
  font-family: League Spartan !important;
  font-size: 22px !important;
}



.carousel .slide {
    transition: transform 0.5s ease, margin 0.5s ease;
  }
  
  .carousel .slide.selected {
    transform: scale(1); /* Imagen central */
  }
  
  .carousel .slide {
    transform: scale(0.91); /* Imágenes adyacentes */
    margin: 0 0px; /* Espacio respecto a la central */
  }

  @media (min-width: 481px) and (max-width: 884px) {
    .carruselCont{
      width: 100% 
    }
  }
  
  

  

@media (max-width: 480px) {
    .texto1 {
      font-size: 8.5vw; /* Aún más grande para pantallas muy pequeñas */
     
    }

    .crsl {
        width: 100% ;
        margin:auto ;
        
    }

    .Instalaciones{
      
      height: 820px;
    }

    #descripcionInsta{
      margin-top: 40px !important;
      margin-bottom: 50px !important;

    

      
    }

    .carruselCont{
      width: 100% !important;
    }
    

    




    
  }

  