
@media only screen and (min-width:321px) and (max-width:360px){
  .main-container2 ul,
li {
  list-style: none;
  white-space: nowrap;
}
.main-container2 li {
  display: inline-block;
  width: 90vw; /* Ancho igual al 80% del contenedor principal */
  margin: auto;
  max-width: 500px; /* Ancho máximo para evitar que las imágenes sean demasiado grandes */
  white-space: normal; /* Restablecer el espaciado entre líneas */
  vertical-align: top; /* Alinear las imágenes en la parte superior */
}
.main-container2{
  height: 150vh !important;
}
.textos-card2::before{
  margin-top: -1%;
}
}
@media only screen and ( min-width: 361px)  and (max-width: 599px) {
  .main-container2 ul,
li {
  list-style: none;
  white-space: nowrap;
}
.main-container2 li {
  display: inline-block;
  width: 90vw; /* Ancho igual al 80% del contenedor principal */
  margin: auto;
  max-width: 500px; /* Ancho máximo para evitar que las imágenes sean demasiado grandes */
  white-space: normal; /* Restablecer el espaciado entre líneas */
  vertical-align: top; /* Alinear las imágenes en la parte superior */
}
}
.main-container2 {
  margin-top: 10%;
  width: 90vw;
  margin: auto;
  height: 140vh;
}
.dots-container2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6vh;   
}
.dot-container-item2 {
  margin: 8px 3px;
  cursor:pointer;
  font-size: 12px;
  width: 80px;
  height: 1.5vh;
  display: block;
  text-align: center;
}
.dot-container-item2.active .boton2 {
  width: 100%;
  height: 100%;
  top:0;
  background-color: #63301B;
  opacity: 1;
  transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
  border-style: none;
}
.dot-container-item2 .boton2 {
  width: 100%;
  height: 100%;
  top:0;
  background-color: #63301B;
  opacity: 0.19;
  transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
  border-style: none;
  border-radius: 5px;
}
.saber-mas2 {
width: 120px;
height: 30px;
background-color: transparent;
font-family: 'League Spartan';
font-size: 15px;
font-style: normal;
margin-top: 10%;
color: white;
border: 1px solid #fff; /* Aquí está el borde blanco */
border-radius: 10px;
z-index: 1006;
}
.container-images2 {
  position: relative; /* Asegura que los elementos absolutamente posicionados sean relativos a este contenedor */
  width: 100%; /* Ancho completo del contenedor */
  margin: auto;
  height: 120%;
  overflow: hidden; /* Si es necesario */
  margin-top: 30%; /* Ajusta según sea necesario */
  display: flex;
}
.main-container2 .textos-card2{
  height: 80vh;
  margin-right: 0px;
  top:clamp(-89.95vh, -89.65vh, -85.95vh);
}
.container-images2 ul li img{
  margin-top: 15%;
  width: 100%;
  height: 80vh;
}
.container-images2 ul {
  width: 100%;
  margin: auto;
  display: relative;
  padding-inline-start: 0px;
  margin-top: 10%;
  border: none;
}
.nuevo-texto2 .texto-imagen-contenedor2{
  display: flex;
} 
.textos-card.opacidad-alternativa {
  background-color: rgba(88, 33, 20);
  content: "";
  opacity: 0.96; /* Cambia la opacidad según sea necesario */
}
.container-images2 img {
  width: 100%; /* Ancho completo de la imagen */
  height: 80vh; /* Altura automática para mantener la proporción */
  margin-top: 12.5%;
  display: block;
  position: relative;
  z-index: 1000;
  transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
}
.tituloEstancias2 {
  position: relative;
  font-family: 'League Spartan';
  top: 5%;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 50px;
  text-align: center;
  width: 90%;
  margin: auto;
  color: #582114;
  z-index: 1001;
}
.subtituloEstancias2 {
  position: relative;
  width: 100%;
  top:7.5%;
  font-family: 'League Spartan';
  font-style: normal;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 130%;
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente */
  align-items: center; /* Centrar horizontalmente los elementos */
  text-align: center;
  color: #000000;
  z-index: 1001;
}
.texto-imagen-contenedor2 {
  position: absolute;
  min-width: 100px;
  width: 80vw;
  margin: auto;
  height: 70%;
  font-family: 'League Spartan';
  font-style: normal;
  font-size: 15px;
  align-items: center;
  text-align: center;
  opacity: 1; /* Por defecto oculto */
  transition: opacity 0.3s ease; /* Transición suave de opacidad */
}
.original-text2{
  font-size: 2rem;
  text-align: center;
  z-index: 1005;
  color:#fff;
  text-align: center;
  display:fixed;
  width: 100%;
  margin-top: 51vh;
  font-family: 'League Spartan';
  font-style: normal;
  opacity: 1;
  position: relative; /* Ajusta la posición absoluta */
}
.hola1232{
  width: 80vw;
  margin: 20vw;
  font-size: 26px;
  text-align: center;
  color:#fff;
  font-weight: 500;
  z-index: 1005;
  top:5vh;
  margin:auto;
  display: flex;
  font-family: 'League Spartan';
  font-style: normal;
  position: relative; /* Ajusta la posición absoluta */
}
.main-container2 .slider-container2 .container-images2{
  margin-top: 10%;
}
.textos-card2 {
    position: relative;
    display: flex;
    min-width: 290px;
    max-width: 100%;
    margin: auto;
    height: 100%;
    font-family: 'League Spartan';
    font-style: normal;
    align-items: center;
    text-align: center;
    flex-direction: column; /* Alinear los elementos verticalmente */
    color: #FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1005; /* Mueve el pseudo-elemento detrás de las imágenes */
}
.textos-card2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 33, 20);
    opacity: 0.6;
}
.textos-card2.opacidad-alternativa {
    background-color: rgba(88, 33, 20);
    content: "";
    opacity: 0.96; /* Cambia la opacidad según sea necesario */
}
.textoImagenText2 {
    width: 80vw;
    height: 15vh;
    font-weight: 300;
    margin-top: 55vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 10px;
    text-align: center;
    z-index: 1005;
    color: #fff;
    font-family: 'League Spartan';
    font-style: normal;
    position: relative;
    margin-block-end: 0px;
}
.textoImagenText2 #h123 {
    font-weight: 500;
    margin-bottom: 3vh;
    font-size: 1.75rem;
}
.textoImagenText2 ul {
    list-style-type: none; /* Quita los estilos de lista predeterminados */
    padding: 0; /* Quita el relleno predeterminado */
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Alinear los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    margin-top: -42.5vh;
    width: 90vw;
}
.textoImagenText2 li {
    width: 80vw;
    font-size: 1.25rem;
    font-weight: 300;
    line-height:100%;
} 
.textoImagenText2 ul li {
    margin-bottom: 2vh; /* Espacio entre elementos de la lista */
}

@media only screen and (max-width: 320px){
  .main-container2 ul,
li {
  list-style: none;
  white-space: nowrap;
}
.main-container2 li {
  display: inline-block;
  width: 90vw; /* Ancho igual al 80% del contenedor principal */
  margin: auto;
  max-width: 500px; /* Ancho máximo para evitar que las imágenes sean demasiado grandes */
  white-space: normal; /* Restablecer el espaciado entre líneas */
  vertical-align: top; /* Alinear las imágenes en la parte superior */
}
  .main-container2 {
    height: 150vh;
  }
  .saber-mas2 {
    margin-top: 20% !important;
  }
  .container-images2 {
    height: 100%;
  }
  .main-container2 .textos-card2{
    top:-90.5vh;
  }
  .container-images2 ul li img{
    margin-top: 30%;
  }
  .tituloEstancias2 {
    font-size: 1.5rem;
  }
  .subtituloEstancias2 {
    height: 7.5%;  
    top: 5%;
    font-size: 1.25rem;
    line-height: 130%;
  }
  .original-text2{
    font-size: 1.5rem;
  }
  .hola1232{
    font-size: 26px;
    font-weight: 500;
    top:5vh;
    font-style: normal;
    position: relative; /* Ajusta la posición absoluta */
  }
  .textoImagenText2 {
    margin-top: 90%;
  }
  .textoImagenText2 ul {
    margin-top: -25vh;
  }
  .textoImagenText2 li {
    width: 80vw;
    font-size: 1rem;
    line-height: 110%;
  } 
  .textoImagenText2 ul li {
    margin-bottom: 1vh; /* Espacio entre elementos de la lista */
  }
  .textoImagenText2 #h123 {
    margin-bottom: 3vh;
    font-size: 1.25rem;
  }
}
  
@media only screen and (min-width: 600px) and (max-width:1023px) {
  .main-container2 ul,
li {
  list-style: none;
  white-space: nowrap;
}
.main-container2 li {
  display: inline-block;
  width: 100%; /* Ancho igual al 80% del contenedor principal */
  white-space: normal; /* Restablecer el espaciado entre líneas */
  vertical-align: top; /* Alinear las imágenes en la parte superior */
}
  .main-container2 {
        height: 125vh;
  }
  .dot-container-item2 {
        font-size: 20px;
        width: 150px;
        height: 2vh;
  }
  .dot-container-item2.active .boton2 {
        height: 50%;
  }
  .dot-container-item2 .boton2 {
        height: 50%;
  }
  .saber-mas2 {
    width: 180px;
    height: 40px;
    font-size: 18px;
    margin-top: 7.5%;
  }
  .container-images2 {
        width: 80%;
        margin: auto; /* Ancho completo del contenedor */
        height: 120%;
  }
  .main-container2 .textos-card2{
        top:-89.5vh;
  }
  .container-images2 ul li img{
        margin-top: 0%;
  }
  .tituloEstancias2 {
        font-size: 2.5rem;
  }
  .subtituloEstancias2 {
        font-size: 1.625rem;
        line-height: 130%;
        width: 90%;
        margin: auto;
        margin-top: 5%;
  }
  .original-text2{
        font-size: 2rem;
  }
  .hola1232{
        font-size: 25px;
  }
  .main-container2 .slider-container2 .container-images2{
        margin-top: 20%;
  }
  .textos-card2 {
          max-width: 80%;
          margin-left: 10%;
  }
  .textoImagenText2 ul {
        width: 80vw;
  }
  .textoImagenText2 li {
        width: 50vw;
        font-size: 1.5rem;
        line-height: 1;
  } 
  .textoImagenText2 #h123 {
        font-size: 2rem;
  } 
  .texto-imagen-contenedor2 {
    position: absolute;
    min-width: 100px;
    width: 80vw;
    margin: auto;
    height: 70%;
    font-family: 'League Spartan';
    font-style: normal;
    align-items: center;
    text-align: center;
    opacity: 1; /* Por defecto oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
  }
}

@media only screen and (min-width: 900px){
      .main-container2{
        display: none;
      }
      .main-container2 ul li{
        display: none;
      }
}
