@media only screen and ( max-width: 320px){
  .main-container2 ul,
  li {
    list-style: none;
    white-space: nowrap;
  }
  
  /* Estilo para cada elemento de la lista */
  .main-container2 li {
    display: inline-block;
    width: 90vw; /* Ancho igual al 80% del contenedor principal */
    margin: auto;
    max-width: 500px; /* Ancho máximo para evitar que las imágenes sean demasiado grandes */
    white-space: normal; /* Restablecer el espaciado entre líneas */
    vertical-align: top; /* Alinear las imágenes en la parte superior */
  }
  
  /* Main container */
  
  .main-container2 {
    margin-top: 10%;
    width: 90vw;
    margin: auto;
    height: 150vh;
  }
  /* dots carrusel */
  .dots-container2 {
    display: flex;
    justify-content: space-around;
    margin-top: 6vh;   
  }
  
  .dot-container-item2 {
    margin: 8px 3px;
    cursor:pointer;
    font-size: 12px;
    width: 80px;
    height: 1.5vh;
    display: block;
    text-align: center;
  }

  .dot-container-item2.active .boton2 {
    width: 100%;
    height: 100%;
    top:0;
    background-color: #63301B;
    opacity: 1;
    transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
    border-style: none;
  }

  .dot-container-item2 .boton2 {
    width: 100%;
    height: 100%;
    top:0;
    background-color: #63301B;
    opacity: 0.19;
    transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
    border-style: none;
    border-radius: 5px;
  }

  .saber-mas2 {
    width: 120px;
    height: 30px;
    background-color: #DD927A;
    margin-top: 7.5%;
    border-style: none;
    color: #582114;
    border-radius: 10px;
    z-index: 1006;
  }

  
  /* Contenedor de imágenes */
  .container-images2 {
    position: relative; /* Asegura que los elementos absolutamente posicionados sean relativos a este contenedor */
    width: 100%; /* Ancho completo del contenedor */
    margin: auto;
    height: 120%;
    overflow: hidden; /* Si es necesario */
    margin-top: 30%; /* Ajusta según sea necesario */
    display: flex;
  }
  
  
  .main-container2 .textos-card2{
    height: 80vh;
    margin-right: 0px;
    top:-91vh;
  }

  .container-images2 ul li img{
    margin-top: 15%;
    width: 100%;
    height: 80vh;
  }
  
  .container-images2 ul {
    width: 100%;
    margin: auto;
    display: relative;
    padding-inline-start: 0px;
    margin-top: 10%;
    border: none;
  }
  
  .nuevo-texto2 .texto-imagen-contenedor2{
    display: flex;
  } 

  .textos-card.opacidad-alternativa {
      background-color: rgba(88, 33, 20);
      content: "";
      opacity: 0.96; /* Cambia la opacidad según sea necesario */
    }

  /* Estilo para cada imagen */
  .container-images2 img {
    width: 100%; /* Ancho completo de la imagen */
    height: 80vh; /* Altura automática para mantener la proporción */
    margin-top: 12.5%;
    display: block;
    position: relative;
    z-index: 1000;
    transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
  }
   
  .tituloEstancias2 {
    position: relative;
    font-family: 'League Spartan';
    top: clamp(18px, 3.4vh, 7.5vh);
    font-style: normal;
    font-weight: 500;
    font-size: 5vh;
    line-height: 50px;
    text-align: center;
    width: 90%;
    margin: auto;
    color: #582114;
    z-index: 1001;
  }
  
  .subtituloEstancias2 {
    position: relative;
    width: 90%;
    margin: 5%;
    height: 7.5%;  
    top: clamp(18px, 4vh, 8vh);
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(18px, 3.4vh, 22.5px);
    line-height: 100%;
    display: flex;
    flex-direction: column; /* Alinear los elementos verticalmente */
    align-items: center; /* Centrar horizontalmente los elementos */
    text-align: center;
    color: #000000;
    z-index: 1001;
  }
  .texto-imagen-contenedor2 {
    position: absolute;
    min-width: 100px;
    width: 80vw;
    margin: auto;
    height: 70%;
    font-family: 'League Spartan';
    font-style: normal;
    font-size: 15px;
    align-items: center;
    text-align: center;
    opacity: 1; /* Por defecto oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
  }
  .original-text2{
    font-size: 5vh;
    text-align: center;
    z-index: 1005;
    color:#fff;
    text-align: center;
    display:fixed;
    width: 100%;
    margin-top: 51vh;
    font-family: 'League Spartan';
    font-style: normal;
    opacity: 1;
    position: relative; /* Ajusta la posición absoluta */
  }
  .hola1232{
    width: 80vw;
    margin: 20vw;
    font-size: 25px;
    text-align: center;
    color:#fff;
    font-weight: 500;
    z-index: 1005;
    font-size: 3.8vh;
    top:5vh;
    margin:auto;
    display: flex;
    font-family: 'League Spartan';
    font-style: normal;
    position: relative; /* Ajusta la posición absoluta */
  }
  .main-container2 .slider-container2 .container-images2{
    margin-top: 10%;
  }
  .textos-card2.opacidad-alternativa .saber-mas2{
    margin-top: -16%;
  }
  .textos-card2 {
      position: relative;
      display: flex;
      min-width: 290px;
      max-width: 100%;
      margin: auto;
      height: 100%;
      font-family: 'League Spartan';
      font-style: normal;
      align-items: center;
      text-align: center;
      flex-direction: column; /* Alinear los elementos verticalmente */
      color: #FFFFFF;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1005; /* Mueve el pseudo-elemento detrás de las imágenes */
    }
  
    .textos-card2::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(88, 33, 20);
      opacity: 0.6;
    }

    .textos-card2.opacidad-alternativa {
      background-color: rgba(88, 33, 20);
      content: "";
      opacity: 0.96; /* Cambia la opacidad según sea necesario */
    }

  .textoImagenText2 {
    width: 80vw;
    font-weight: 500;
    height: 15vh;
    margin-top: 115%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 10px;
    text-align: center;
    z-index: 1005;
    color: #fff;
    font-family: 'League Spartan';
    font-style: normal;
    position: relative;
    margin-block-end: 0px;
  }
  .textoImagenText2 ul {
    list-style-type: none; /* Quita los estilos de lista predeterminados */
    padding: 0; /* Quita el relleno predeterminado */
    display: flex; /* Usa flexbox */
    flex-direction: column; /* Alinear los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: clamp(2vh, 2vh, 2.6vh);
    margin-top: -70vh;
    width: 80vw;
  }
  .textoImagenText2 li {
    width: 80vw;
    font-size: 3vh;
    font-weight: 300;
    line-height: 150%;
  } 
  .textoImagenText2 ul li {
    margin-bottom: 1vh; /* Espacio entre elementos de la lista */
  }
  .textoImagenText2 #h123 {
    font-weight: 500;
    margin-bottom: 3vh;
    font-size: 18px;
  }

  }
@media only screen and ( min-width: 321px)  and (max-width: 600px) {
   .main-container2 ul,
    li {
      list-style: none;
      white-space: nowrap;
    }
    
    /* Estilo para cada elemento de la lista */
    .main-container2 li {
      display: inline-block;
      width: 90vw; /* Ancho igual al 80% del contenedor principal */
      margin: auto;
      max-width: 500px; /* Ancho máximo para evitar que las imágenes sean demasiado grandes */
      white-space: normal; /* Restablecer el espaciado entre líneas */
      vertical-align: top; /* Alinear las imágenes en la parte superior */
    }


    /* Main container */
    
    .main-container2 {
      margin-top: 10%;
      width: 90vw;
      margin: auto;
      height: 130vh;
    }
    /* dots carrusel */
    .dots-container2 {
      display: flex;
      justify-content: space-around;
      margin-top: 6vh;   
    }
    
    .dot-container-item2 {
      margin: 8px 3px;
      cursor:pointer;
      font-size: 12px;
      width: 80px;
      height: 1.5vh;
      display: block;
      text-align: center;
    }
  
    .dot-container-item2.active .boton2 {
      width: 100%;
      height: 100%;
      top:0;
      background-color: #63301B;
      opacity: 1;
      transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
      border-style: none;
    }
  
    .dot-container-item2 .boton2 {
      width: 100%;
      height: 100%;
      top:0;
      background-color: #63301B;
      opacity: 0.19;
      transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
      border-style: none;
      border-radius: 5px;
    }
  
    .saber-mas2 {
      width: 120px;
      height: 30px;
      background-color: #DD927A;
      margin-top: 10%;
      color: #582114;
      border-style: none;
      border-radius: 10px;
      z-index: 1006;
    }

    
    /* Contenedor de imágenes */
    .container-images2 {
      position: relative; /* Asegura que los elementos absolutamente posicionados sean relativos a este contenedor */
      width: 100%; /* Ancho completo del contenedor */
      margin: auto;
      height: 120%;
      overflow: hidden; /* Si es necesario */
      margin-top: 30%; /* Ajusta según sea necesario */
      display: flex;
    }
    
    
    .main-container2 .textos-card2{
      height: 80vh;
      margin-right: 0px;
      top:clamp(-89.95vh, -89.65vh, -85.95vh);
    }
  
    .container-images2 ul li img{
      margin-top: 15%;
      width: 100%;
      height: 80vh;
    }
    
    .container-images2 ul {
      width: 100%;
      margin: auto;
      display: relative;
      padding-inline-start: 0px;
      margin-top: 10%;
      border: none;
    }
    
    .nuevo-texto2 .texto-imagen-contenedor2{
      display: flex;
    } 

    .textos-card.opacidad-alternativa {
        background-color: rgba(88, 33, 20);
        content: "";
        opacity: 0.96; /* Cambia la opacidad según sea necesario */
      }
  
    /* Estilo para cada imagen */
    .container-images2 img {
      width: 100%; /* Ancho completo de la imagen */
      height: 80vh; /* Altura automática para mantener la proporción */
      margin-top: 12.5%;
      display: block;
      position: relative;
      z-index: 1000;
      transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
    }
     
    .tituloEstancias2 {
      position: relative;
      font-family: 'League Spartan';
      top: clamp(18px, 3.4vh, 7.5vh);
      font-style: normal;
      font-weight: 500;
      font-size: 5vh;
      line-height: 50px;
      text-align: center;
      width: 90%;
      margin: auto;
      color: #582114;
      z-index: 1001;
    }
    
    .subtituloEstancias2 {
      position: relative;
      width: 90%;
      margin: 5%;
      height: 7.5%;  
      top: clamp(18px, 4vh, 8vh);
      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 300;
      font-size: clamp(18px, 3.4vh, 22.5px);
      line-height: 100%;
      display: flex;
      flex-direction: column; /* Alinear los elementos verticalmente */
      align-items: center; /* Centrar horizontalmente los elementos */
      text-align: center;
      color: #000000;
      z-index: 1001;
    }
    .texto-imagen-contenedor2 {
      position: absolute;
      min-width: 100px;
      width: 80vw;
      margin: auto;
      height: 70%;
      font-family: 'League Spartan';
      font-style: normal;
      font-size: 15px;
      align-items: center;
      text-align: center;
      opacity: 1; /* Por defecto oculto */
      transition: opacity 0.3s ease; /* Transición suave de opacidad */
    }
    .original-text2{
      font-size: 5vh;
      text-align: center;
      z-index: 1005;
      color:#fff;
      text-align: center;
      display:fixed;
      width: 100%;
      margin-top: 51vh;
      font-family: 'League Spartan';
      font-style: normal;
      opacity: 1;
      position: relative; /* Ajusta la posición absoluta */
    }
    .hola1232{
      width: 80vw;
      margin: 20vw;
      font-size: 25px;
      text-align: center;
      color:#fff;
      font-weight: 500;
      z-index: 1005;
      font-size: 3.8vh;
      top:5vh;
      margin:auto;
      display: flex;
      font-family: 'League Spartan';
      font-style: normal;
      position: relative; /* Ajusta la posición absoluta */
    }
    .main-container2 .slider-container2 .container-images2{
      margin-top: 10%;
    }
    .textos-card2 {
        position: relative;
        display: flex;
        min-width: 290px;
        max-width: 100%;
        margin: auto;
        height: 100%;
        font-family: 'League Spartan';
        font-style: normal;
        align-items: center;
        text-align: center;
        flex-direction: column; /* Alinear los elementos verticalmente */
        color: #FFFFFF;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1005; /* Mueve el pseudo-elemento detrás de las imágenes */
      }
    
      .textos-card2::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(88, 33, 20);
        opacity: 0.6;
      }

      .textos-card2.opacidad-alternativa {
        background-color: rgba(88, 33, 20);
        content: "";
        opacity: 0.96; /* Cambia la opacidad según sea necesario */
      }
  
      .textoImagenText2 {
        width: 80vw;
        height: 15vh;
        margin-top: 55vh;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        font-size: 10px;
        text-align: center;
        z-index: 1005;
        color: #fff;
        font-family: 'League Spartan';
        font-style: normal;
        position: relative;
        margin-block-end: 0px;
      }
      .textoImagenText2 #h123 {
        font-weight: 500;
        margin-bottom: 3vh;
        font-size: 26px;
      }
      .textoImagenText2 ul {
        list-style-type: none; /* Quita los estilos de lista predeterminados */
        padding: 0; /* Quita el relleno predeterminado */
        display: flex; /* Usa flexbox */
        flex-direction: column; /* Alinear los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: center; /* Centra los elementos verticalmente */
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        margin-top: -42.5vh;
        width: 80vw;
      }
      .textoImagenText2 li {
        width: 60vw;
        font-size: 20px;
        font-weight: 300;
        line-height:100%;
      } 
      .textoImagenText2 ul li {
        margin-bottom: 2vh; /* Espacio entre elementos de la lista */
      }

    }
  
@media only screen and (min-width: 767px) and (max-width:1023px) {
      .main-container2 ul,
      li {
        list-style: none;
        white-space: nowrap;
      }
      
      /* Estilo para cada elemento de la lista */
      .main-container2 li {
        display: inline-block;
        width: 90vw; /* Ancho igual al 80% del contenedor principal */
        margin: auto;
        max-width: 100vw; /* Ancho máximo para evitar que las imágenes sean demasiado grandes */
        white-space: normal; /* Restablecer el espaciado entre líneas */
        vertical-align: top; /* Alinear las imágenes en la parte superior */
      }
      
      /* Main container */
      
      .main-container2 {
        margin-top: 10%;
        width: 90vw;
        margin: auto;
        height: 135vh;
      }
      /* dots carrusel */
      .dots-container2 {
        display: flex;
        justify-content: space-evenly;
        margin-top: 6vh;   
      }
      
      .dot-container-item2 {
        margin: 8px 3px;
        cursor:pointer;
        font-size: 20px;
        width: 150px;
        height: 2vh;
        display: block;
        text-align: center;
      }
    
      .dot-container-item2.active .boton2 {
        width: 100%;
        height: 100%;
        top:0;
        background-color: #63301B;
        opacity: 1;
        transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
        border-style: none;
      }
    
      .dot-container-item2 .boton2 {
        width: 100%;
        height: 100%;
        top:0;
        background-color: #63301B;
        opacity: 0.19;
        transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
        border-style: none;
        border-radius: 5px;
      }
    
      .saber-mas2 {
        width: 180px;
        height: 40px;
        background-color: #DD927A;
        margin-top: 7.5%;
        font-size: medium;
        border-style: none;
        color: #582114;
        border-radius: 10px;
        z-index: 1006;
      }
  
      /* Contenedor de imágenes */
      .container-images2 {
        position: relative; /* Asegura que los elementos absolutamente posicionados sean relativos a este contenedor */
        width: 80%; /* Ancho completo del contenedor */
        margin: auto;
        height: 120%;
        overflow: hidden; /* Si es necesario */
        display: flex;
      }
      
      
      .main-container2 .textos-card2{
        height: 80vh;
        margin-right: 0px;
        top:-89.5vh;
      }
    
      .container-images2 ul li img{
        margin-top: 0%;
        width: 100%;
        height: 80vh;
      }
      
      
      .container-images2 ul {
        width: 100%;
        margin: auto;
        display: relative;
        padding-inline-start: 0px;
        margin-top: 10%;
        border: none;
      }
      
      .nuevo-texto2 .texto-imagen-contenedor2{
        display: flex;
      } 
  
      .textos-card.opacidad-alternativa {
          background-color: rgba(88, 33, 20);
          content: "";
          opacity: 0.96; /* Cambia la opacidad según sea necesario */
        }
    
      /* Estilo para cada imagen */
      .container-images2 img {
        width: 100%; /* Ancho completo de la imagen */
        height: 80vh; /* Altura automática para mantener la proporción */
        margin-top: 12.5%;
        display: block;
        position: relative;
        z-index: 1000;
        transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
      }
       
      .tituloEstancias2 {
        position: relative;
        font-family: 'League Spartan';
        top: 5vh;
        font-style: normal;
        font-weight: 500;
        font-size: 5vh;
        line-height: 50px;
        text-align: center;
        width: 90%;
        margin: auto;
        color: #582114;
        z-index: 1001;
      }
      
      .subtituloEstancias2 {
        position: relative;
        width: 90%;
        margin: 5%;
        height: 7.5%;  
        top: 5vh;
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 100%;
        display: flex;
        flex-direction: column; /* Alinear los elementos verticalmente */
        align-items: center; /* Centrar horizontalmente los elementos */
        text-align: center;
        color: #000000;
        z-index: 1001;
      }
      .texto-imagen-contenedor2 {
        position: absolute;
        min-width: 100px;
        width: 80vw;
        margin: auto;
        height: 70%;
        font-family: 'League Spartan';
        font-style: normal;
        font-size: 15px;
        align-items: center;
        text-align: center;
        opacity: 1; /* Por defecto oculto */
        transition: opacity 0.3s ease; /* Transición suave de opacidad */
      }
      .original-text2{
        font-size: 5vh;
        text-align: center;
        z-index: 1005;
        color:#fff;
        text-align: center;
        display:fixed;
        width: 100%;
        margin-top: 51vh;
        font-family: 'League Spartan';
        font-style: normal;
        opacity: 1;
        position: relative; /* Ajusta la posición absoluta */
      }
      .hola1232{
        width: 80vw;
        margin: 20vw;
        font-size: 25px;
        text-align: center;
        color:#fff;
        font-weight: 500;
        z-index: 1005;
        font-size: 3.8vh;
        top:5vh;
        margin:auto;
        display: flex;
        font-family: 'League Spartan';
        font-style: normal;
        position: relative; /* Ajusta la posición absoluta */
      }
      .main-container2 .slider-container2 .container-images2{
        margin-top: 10%;
      }
      .textos-card2 {
          position: relative;
          display: flex;
          min-width: 290px;
          max-width: 80%;
          margin-left: 10%;
          height: 100%;
          font-family: 'League Spartan';
          font-style: normal;
          align-items: center;
          text-align: center;
          flex-direction: column; /* Alinear los elementos verticalmente */
          color: #FFFFFF;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 1005; /* Mueve el pseudo-elemento detrás de las imágenes */
        }
      
        .textos-card2::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(88, 33, 20);
          opacity: 0.6;
        }
  
        .textos-card2.opacidad-alternativa {
          background-color: rgba(88, 33, 20);
          content: "";
          opacity: 0.96; /* Cambia la opacidad según sea necesario */
        }
    
      .textoImagenText2 {
        width: 80vw;
        height: 15vh;
        margin-top: 55vh;
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        font-size: 10px;
        text-align: center;
        z-index: 1005;
        color: #fff;
        font-family: 'League Spartan';
        font-style: normal;
        position: relative;
        margin-block-end: 0px;
      }
      .textoImagenText2 #h123 {
        font-weight: 500;
        margin-bottom: 3vh;
      }
      .textoImagenText2 ul {
        list-style-type: none; /* Quita los estilos de lista predeterminados */
        padding: 0; /* Quita el relleno predeterminado */
        display: flex; /* Usa flexbox */
        flex-direction: column; /* Alinear los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        justify-content: center; /* Centra los elementos verticalmente */
        font-family: 'League Spartan';
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        margin-top: -42.5vh;
        width: 80vw;
      }
      .textoImagenText2 li {
        width: 50vw;
        font-size: 30px;
        font-weight: 300;
        line-height:100%;
      } 
      .textoImagenText2 ul li {
        margin-bottom: 2vh; /* Espacio entre elementos de la lista */
      }
    }
@media only screen and (min-width: 1024px){
      .main-container2{
        display: none;
      }
      .main-container2 ul li{
        display: none;
      }
    }
