/* Media queries */
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .imagen-estancia {
      position: relative;
     
    }
    /* Ocultar texto por defecto al hacer hover */
  .imagen-estancia:hover .original-text,
  .imagen-estancia:hover .hola123 {
    opacity: 0; /* Oculta el texto por defecto al hacer hover */
  }
   
  /* Mostrar texto nuevo al hacer hover */
  .imagen-estancia:hover .texto-imagen-contenedor {
    opacity: 1;
    z-index: 1001; /* Muestra el nuevo texto al hacer hover */
  }
   
  /* Clase para manejar la visibilidad de texto-imagen-contenedor */
  .hover-text-visible .texto-imagen-contenedor {
    opacity: 1; /* Mostrar por defecto */
  }
   
  /* Aumentar la opacidad del filtro al hacer hover */
  .imagen-estancia:hover::before {
    opacity: 0.96; /* Opacidad del color de fondo al hacer hover */
  }
    /* Filtro de color con opacidad */
  .imagen-estancia::before {
    content: ""; /* Agrega un pseudo-elemento */
    position: absolute; /* Posiciona el pseudo-elemento */
    top: 0; /* Coloca el pseudo-elemento en la parte superior */
    left: 0; /* Coloca el pseudo-elemento en la parte izquierda */
    width: 100%; /* Ancho completo del contenedor */
    height: 100%; /* Altura completa del contenedor */
    background-color: rgba(88, 33, 20); /* Color de fondo con transparencia */
    z-index: 99; /* Mueve el pseudo-elemento detrás de las imágenes */
    transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
    opacity: 0.6; /* Opacidad por defecto */
  }
    /* Estilos para los textos por defecto */
  .imagen-estancia .original-text,
  .imagen-estancia .hola123 {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 999;
    padding: 10px;
    text-align: center;
    width: 90%; /* Ancho del texto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
    opacity: 1; /* Opacidad por defecto */
  }
    /* Estilos para los textos adicionales (texto-imagen-contenedor) */
  .texto-imagen-contenedor {
    position: absolute;
    min-width: 100px;
    width: 100%;
    font-family: 'League Spartan';
    font-style: normal;
    align-items: center;
    text-align: center;
    top:0%;
    color: #FFFFFF;
    opacity: 0; /* Por defecto oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
  }
  .estanciasFotos {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /* Estilos generales */
  .Estancias {
    background-color: #FCF9F5;
    width: 100%;
    height: 120%;
    position: relative;
    display: flex; /* Convertido en un contenedor flex */
    flex-direction: column; /* Alinear los elementos verticalmente */
    justify-content: center; /* Centrar verticalmente los elementos */
    align-items: center; /* Centrar horizontalmente los elementos */
  }
    .imagen-estancia img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta el tamaño de la imagen sin deformarla */
    }
    .tituloEstancias {
      position: absolute;
      font-family: 'League Spartan';
      top: 7.5% !important;
      font-style: normal;
      font-weight: 500;
      font-size: 2.5rem !important;
      line-height: 50px;
      color: #582114;
  }
    .subtituloEstancias {
      position: absolute;
      width: 70% !important;
      margin: auto;
      height: 5vh;
      top: 7.5% !important;
      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 300;
      font-size: 1.625rem !important;
      line-height: 130%;
      display: flex;
      flex-direction: column; /* Alinear los elementos verticalmente */
      align-items: center; /* Centrar horizontalmente los elementos */
      text-align: center;
      color: #000000;
  }
  .imagenes-row {
      display: flex;
      justify-content: space-evenly;
      margin: 10%;
      width: 100%;
      height: 60%;
  }
  .original-text{
    font-size: 2rem !important;
    text-align: center;
    margin-top: 0% !important;
    margin-left: 0%;
    font-weight: 500;
    font-family: 'League Spartan';
    font-style: normal;
  }
  #imagen-estancia1 .original-text{
    margin-left: 25%;
  }
  #imagen-estancia2 .original-text{
    margin-left: 20%;
  }
  #imagen-estancia3 .original-text{
    margin-left: 20%;
  }
  .hola123{
    font-size: 1.625rem;
    margin-top: 40.5%;
    text-align: justify;
    width: 90%;
    font-weight: 300;
    font-family: 'League Spartan';
    font-style: normal;
    line-height: 130%;
  }
  #imagen-estancia1 .texto-imagen-contenedor{
    margin-top: 15%;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 100%;
  }
  #imagen-estancia2 .texto-imagen-contenedor{
    margin-top: 35%;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 100%;
  }
  #imagen-estancia3 .texto-imagen-contenedor{
    margin-top: 5%;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 100%;
  }
  .texto-imagen-contenedor ul li {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 110%;
    width: 80%;

    margin: auto;
    font-weight: 300;
  }
    .texto-imagen-contenedor li {
      width: 25vw;
      margin: auto;

      display: flex;
      font-weight: 300;
      text-align: center;
      justify-content: center;
      align-items: center;
   
    }
   
   
  .custom-shape-divider-bottom-1710877318 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .custom-shape-divider-bottom-1710877318 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 20%;
  }
  .custom-shape-divider-bottom-1710877318 .shape-fill {
    fill: #FFFFFF;
  }
  }
   
  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    .Estancias{
      display: none;
    }
  }
   
  @media only screen and (max-width: 600px) {
    .Estancias{
      display: none;
    }
  }

  @media only screen and (min-width: 1281px){
    .imagen-estancia {
      position: relative;
     
    }

    #imagen-estancia1 .original-text{
      margin-left: 25%;
    }
    #imagen-estancia2 .original-text{
      margin-left: 15%;
    }
    #imagen-estancia3 .original-text{
      margin-left: 15%;
    }
    /* Ocultar texto por defecto al hacer hover */
  .imagen-estancia:hover .original-text,
  .imagen-estancia:hover .hola123 {
    opacity: 0; /* Oculta el texto por defecto al hacer hover */
  }
   
  /* Mostrar texto nuevo al hacer hover */
  .imagen-estancia:hover .texto-imagen-contenedor {
    opacity: 1;
    z-index: 1001; /* Muestra el nuevo texto al hacer hover */
  }
   
  /* Clase para manejar la visibilidad de texto-imagen-contenedor */
  .hover-text-visible .texto-imagen-contenedor {
    opacity: 1; /* Mostrar por defecto */
  }
   
  /* Aumentar la opacidad del filtro al hacer hover */
  .imagen-estancia:hover::before {
    opacity: 0.96; /* Opacidad del color de fondo al hacer hover */
  }
    /* Filtro de color con opacidad */
  .imagen-estancia::before {
    content: ""; /* Agrega un pseudo-elemento */
    position: absolute; /* Posiciona el pseudo-elemento */
    top: 0; /* Coloca el pseudo-elemento en la parte superior */
    left: 0; /* Coloca el pseudo-elemento en la parte izquierda */
    width: 100%; /* Ancho completo del contenedor */
    height: 100%; /* Altura completa del contenedor */
    background-color: rgba(88, 33, 20); /* Color de fondo con transparencia */
    z-index: 99; /* Mueve el pseudo-elemento detrás de las imágenes */
    transition: opacity 0.3s ease; /* Agrega una transición suave para el cambio de opacidad */
    opacity: 0.6; /* Opacidad por defecto */
  }
    /* Estilos para los textos por defecto */
  .imagen-estancia .original-text,
  .imagen-estancia .hola123 {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 999;
    padding: 10px;
    text-align: center;
    width: 80%; /* Ancho del texto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
    opacity: 1; /* Opacidad por defecto */
  }
    /* Estilos para los textos adicionales (texto-imagen-contenedor) */
  .texto-imagen-contenedor {
    position: absolute;
    min-width: 100px;
    width: 100%;
    font-family: 'League Spartan';
    font-style: 1.625rem;
    align-items: center;
    text-align: center;
    top:0%;
    color: #FFFFFF;
    opacity: 0; /* Por defecto oculto */
    transition: opacity 0.3s ease; /* Transición suave de opacidad */
  }
  .estanciasFotos {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /* Estilos generales */
  .Estancias {
    background-color: #FCF9F5;
    width: 100%;
    height: 120%;
    position: relative;
    display: flex; /* Convertido en un contenedor flex */
    flex-direction: column; /* Alinear los elementos verticalmente */
    justify-content: center; /* Centrar verticalmente los elementos */
    align-items: center; /* Centrar horizontalmente los elementos */
  }
    .imagen-estancia img {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Ajusta el tamaño de la imagen sin deformarla */
    }
    .tituloEstancias {
      position: absolute;
      font-family: 'League Spartan';
      top: 7.5% !important;
      font-style: normal;
      font-weight: 500;
      font-size: 2.5rem !important;
      line-height: 50px;
      color: #582114;
  }
    .subtituloEstancias {
      position: absolute;
      width: 60% !important;
      margin: auto;
      height: 5vh;
      top: 10% !important;
      font-family: 'League Spartan';
      font-style: normal;
      font-weight: 300;
      font-size: 1.625rem !important;
      line-height: 130% !important;
      display: flex;
      flex-direction: column; /* Alinear los elementos verticalmente */
      align-items: center; /* Centrar horizontalmente los elementos */
      text-align: center;
      color: #000000;
  }
  .imagenes-row {
      display: flex;
      justify-content: space-evenly;
      margin: 10%;
      width: 100%;
      height: 60%;
  }
  .original-text{
    font-size: 2rem !important;
    text-align: center;
    margin-top: 10% !important;
    font-weight: 500;
    font-family: 'League Spartan';
    font-style: normal;
  }
  .hola123{
    font-size: 1.625rem;
    margin-top: 40.5%;
    text-align: justify;
    width: 90%;
    font-weight: 300;
    font-family: 'League Spartan';
    font-style: normal;
  }
  #imagen-estancia1 .texto-imagen-contenedor{
    margin-top: 25%;
    font-size: 1.625rem;
    font-weight: 500;
  }
  #imagen-estancia2 .texto-imagen-contenedor{
    margin-top: 35%;
    font-size: 1.625rem;
    font-weight: 500;
  }
  #imagen-estancia3 .texto-imagen-contenedor{
    margin-top: 15%;
    font-size: 1.625rem;
    font-weight: 500;
  }
  .texto-imagen-contenedor ul li {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 1.4rem;
    width: 80%;
    line-height: 130%;
    margin: auto;
    font-weight: 300;
  }
    .texto-imagen-contenedor li {
      width: 25%;
      margin: auto;
      display: flex;
      font-weight: 300;
      text-align: center;
      justify-content: center;
      align-items: center;
   
    }
   
   
  .custom-shape-divider-bottom-1710877318 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .custom-shape-divider-bottom-1710877318 svg {
    position: relative;
    display: block;
    width: calc(147% + 1.3px);
    height: 20%;
  }
  .custom-shape-divider-bottom-1710877318 .shape-fill {
    fill: #FFFFFF;
  }
  }