
.NavbarWeb li{
    color: inherit;
    text-decoration: none;
    animation: ease-in;
}

.NavbarWeb li:hover {
    border-bottom: 3px solid #6E5356; 
    border-radius: 5%;
   
}


li{
 list-style: none;
 font-family: 'League Spartan';
 font-style: normal;
 font-weight: 400;
 font-size: 23px;
 line-height: 21px;
}



.navbar {
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0; 
    z-index: 1000; 
    
}
  
.navbarList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
    padding: 0; 
}
  
.navbarList li, .navbarList li a { 
   
    text-decoration: none; 
}
  
.navbarLogo {
    width: 129px;
    height: 94px;
    left: 901px;
    top: 62px;
}


  /* Aplica el desplazamiento suave */
html {
    scroll-behavior: smooth;
  }

  @media (max-width: 480px) {
  .NavbarWeb{
    display:none !important
    
  }

  .logoCell{
    padding: 8px;
  }


}

@media (min-width: 481px) {
 .logoCell{
    display: none;
 }

 .cellDiv{
    display: none !important;
 }
  
  }



  












  

