html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'League Spartan', sans-serif;
  
}

#root {
  width: 100vw;
  height: 100%;
  font-family: 'League Spartan', sans-serif;
  
}

/* html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
} */
