.Objetivo{
    
    width: 100%;
    position:"relative"
}


.nuestroObjetivo {
    /* Nuestro objetivo */


    width: 341px;
    height: 52px;
    padding-left: 80px;
    padding-top: 30px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 143%;
    display: flex;
    align-items: center;

    color: #582114;


}

.descObjetivo {
    padding-left: 80px;
    max-width: 926px;
    max-height: 250px;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: justify;

    color: #000000;
}



@media (min-width: 769px) and (max-width: 1023px){
    .descObjetivo {
        padding-left: 0px;
        width: 80%;
        margin: auto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.625rem;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #000000;
    }

    .nuestroObjetivo {
        width: 80%;
        margin: auto;
        height: 52px;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2.5rem;
        text-align: center;
        align-items: center;

    }

    .lista li {
        font-size: 1.625rem;
        font-weight: 300 !important;
    }

    .lista{
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
}

@media  (max-width: 320px){
    .descObjetivo {
        font-size: 1.25rem !important; /* Tamaño aún más pequeño para pantallas muy pequeñas */
       width: 80%;
       margin: auto;
       margin-top: 15% !important;
       text-align: center;
       padding-left: 0px !important;
    }
    .nuestroObjetivo {
        /* Nuestro objetivo */
    display: flex;
    justify-content: flex;
    padding-left: 0px;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 5%;
    
    
   
    }
    .lista li {
    margin: 10px;
    flex-shrink: 0;
    width: 250px;
    list-style: none;
    color: #000000;
    display: flex;
    align-items: center;
    padding-left: 46px !important;
    font-size: 1.25rem;
    font-weight: 300 !important;
    
   
    
    
    
    }
}
/* Para pantallas menores a 480px */
@media (min-width:321px) and (max-width: 599px) {
    .descObjetivo {
        font-size: 1.25rem !important; /* Tamaño aún más pequeño para pantallas muy pequeñas */
       width: 80%;
       margin: auto;
       margin-top: 10%;
       text-align: center;
       padding-left: 0px !important;
    }
    .nuestroObjetivo {
        /* Nuestro objetivo */
    display: flex;
    justify-content: flex;
    padding-left: 0px;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    
    
   
    }
    .lista li {
    margin: 10px;
    flex-shrink: 0;
    width: 250px;
    list-style: none;
    color: #000000;
    display: flex;
    align-items: center;
    padding-left: 46px !important;
    font-size: 1.25rem;
    
   
    
    
    
    }
}


.lista li {
    margin: 10px;
    flex-shrink: 0;
    width: 250px;
    list-style: none;
    color: #000000;
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-weight: 300 !important;
    
    
   
    
    
    
}

.lista{
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10%;
  }

.customLi {
    width: 400px !important;
}
  
@media (min-width: 1024px) and (max-width:1280px){
    .descObjetivo {
        padding-left: 0px;
        width: 80%;
        margin: auto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.625rem;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #000000;
    }

    .nuestroObjetivo {
        width: 80%;
        margin: auto;
        height: 52px;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2.5rem;
        text-align: center;
        align-items: center;

    }

    .lista li {
        font-size: 1.625rem;
        font-weight: 300 !important;
    }

    .lista{
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
} 

@media (min-width:1281px){
    .descObjetivo {
        padding-left: 0px;
        width: 80%;
        margin: auto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.625rem;
        line-height: 130%;
        display: flex;
        align-items: center;
        text-align: justify;
        color: #000000;
    }

    .nuestroObjetivo {
        width: 80%;
        margin: auto;
        height: 52px;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 2.5rem;
        text-align: center;
        align-items: center;

    }

    .lista li {
        font-size: 1.625rem;
        font-weight: 300 !important;
    }

    .lista{
        margin-top: 5% !important;
        margin-bottom: 5% !important;
    }
} 
